.header, .nav, .main, .sidebar,.advertise, .footer{
  background-color:cadetblue;
  border: 2px solid rgb(160, 64, 224);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.header{
  grid-area: header;
  background-color: blueviolet;
}
.nav{
  grid-area: nav;
  text-align: center;
}
.main{
  grid-area: main;
  background-color: bisque;
}
.sidebar{
  grid-area: sidebar;
  margin-bottom: 10px;
}
.advertise{
  grid-area: advertise;
}
.footer{
  grid-area: footer;
  background-color: blueviolet;
}

.container{
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "header header  header header"
  "nav    main    main   sidebar"
  "nav    main    main   advertise"
  "footer footer  footer footer"
  ;
}

@media screen and (max-width: 576px){
  .container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "sidebar"
    "advertise"
    "footer" 
    ;
  }

}

@media screen and (min-width: 576px) and (max-width: 992px) {

  .container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "sidebar main main"
    
    "advertise footer footer"
     
    ;
  }
  
}
